<div class="logo-main">
  <img src="assets/img/logo-copy.png" alt="">
</div>
<div class="logo-wording">
  <b>PROPHET SHEPHERD BUSHIRI MINISTRIES</b>
</div>

<div class="main-login-form" (submit)="login()">
  <form [formGroup]="loginForm" class="account_form">

    <input type="text" formControlName="email" class="field-text" placeholder="Email Address">
    <i class="fa fa-envelope fa-2x"></i>

    <input type="password" formControlName="password" placeholder="Password">
    <i class="fa fa-lock fa-2x"></i>

    <span style="color: red;font-size: 12px;" *ngIf="errorMessage$">
      {{errorMessage$}}
    </span>

    <input type="submit" [disabled]="loginForm.invalid" value="Login">
    <div class="main-links">
      <a [routerLink]="['/auth/forgot-password']"> Forgotten your password</a>
      <span> | </span>
      <a [routerLink]="['/auth/register']"> Click here to Register</a>
    </div>


  </form>

</div>

<div class="main-login">


</div>
