<!--TOP SECTION-->
<div class="menu-section">
  <div class="container">
    <div class="row">
      <div class="top-bar">
        <ul>

          <li *ngIf="user" class="welcome-header">
            <a>{{welcomeUser()}}</a>
          </li>
          <li>
            <a>You are logged in as {{userEmail}}</a>
          </li>
          <li class="avatar-image">
            <img src="assets/img/avatar.png" alt="" />
            <!-- <img *ngIf="(photoURL$ | async) as photo" [src]="photo" alt="" /> -->
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="logo">
        <a>
          <img src="assets/img/logo-copy.png" alt="" />
        </a>
        <span class="logo-defination">Prophet Shepherd Bushiri Ministries</span>
      </div>

      <div class="menu-bar">
        <ul>

          <li>
            <a routerLink="/user/profile">My Profile</a>
          </li>
          <li>
            <a (click)="logout()">Logout</a>
          </li>


        </ul>
      </div>
    </div>
  </div>
</div>
<!--TOP SECTION-->
