<!--TOP SECTION-->
<div class="menu-section">
  <div class="container">
    <div class="row">
      <div class="top-bar">
        <ul>
          <li *ngIf="user" class="welcome-header">
            <a>{{welcomeUser()}}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="logo">
        <a>
          <img src="assets/img/logo-copy.png" alt="" />
        </a>
        <span class="logo-defination">Prophet Shepherd Bushiri Ministries</span>
      </div>

      <div class="menu-bar">
        <ul>

          <li *ngIf="user">
            <a [routerLink]="['/user/profile']"> My Profile</a>
          </li>
          <li *ngIf="user">
            <a (click)="logout()">Logout</a>
          </li>
          <li *ngIf="!user">
            <a routerLink="/auth/login">Login</a>
          </li>
          <li *ngIf="!user">
            <a routerLink="/auth/register">Register</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!--TOP SECTION-->