<div class="db-cent">
  <app-welcome-header></app-welcome-header>
  <div class="db-cent-3">
    <div class="db-cent-table db-com-table">
      <div class="db-title">
        <h3> My Payments</h3>
        <p></p>
      </div>
      <table class="bordered responsive-table">
        <thead>
          <tr>
            <th>Payment Date</th>
            <th>Description</th>
            <th>Means</th>
            <th>City</th>
            <th>Amount</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>01/03/2019</td>
            <td>Holy Ghost Conference</td>
            <td>Credit Card</td>
            <td>
              <span class="db-tab-hi">New york,</span>USA</td>
            <td>$680</td>
            <td>
              <a href="#" class="db-success">Success</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>