<div class="logo-wording-register">
  <b>PROPHET SHEPHERD BUSHIRI MINISTRIES</b>
</div>
<div class="menu-section">
  <div class="container">
    <div class="row">
      <div class="top-bar">
        <ul>
          <li *ngIf="user" class="welcome-header">
            <a>{{welcomeUser()}}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="logo">
        <a>
          <img src="assets/img/logo-copy.png" alt="" />
        </a>

      </div>

      <div class="menu-bar">
        <ul>

          <li [routerLink]="['/user/profile']">
            <!-- <a routerLink="/user/profile">My Profile</a> -->
            <a [routerLink]="['/user/profile']"> My Profile</a>
          </li>
          <li>
            <a (click)="logout()">Logout</a>
          </li>
          <!-- <li *ngIf="!user">
                <a routerLink="/auth/login">Login</a>
              </li>
              <li *ngIf="!user">
                <a routerLink="/auth/register">Register</a>
              </li> -->
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="db-cent">
  <app-welcome-header></app-welcome-header>
  <div class="db-cent-3">
    <div class="db-cent-table db-com-table">
      <div class="db-title">
        <h3> My Payments</h3>
        <p></p>
      </div>
      <table class="bordered responsive-table">
        <thead>
          <tr>
            <th>Payment Date</th>
            <th>Description</th>
            <th>Means</th>
            <th>City</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Generate QR Code</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>01/03/2019</td>
            <td>Holy Ghost Conference</td>
            <td>Credit Card</td>
            <td>
              <span class="db-tab-hi">New york,</span>USA</td>
            <td>$680</td>
            <td>
              <a href="#" class="db-success">Success</a>
            </td>
            <td>
              <button class="btn-sm btn-info" (click)="generateCode()">Generate</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
