.ministry-section {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
}

.row-ministry {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 100px;
  margin-bottom: 100px;
}

.scroll-animation-button {
  position: absolute;
  text-align: center;
  top: 77%;
  left: 50%;
  width: 100%;
}

.chevron {
  position: absolute;
  width: 36px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background-color: #e8c57a;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
  background-color: #fff;
  background-color: #e8c57a;
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
  background-color: #fff;
  background-color: #e8c57a;
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text {
  display: block;
  margin-top: 75px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 14px;
  white-space: nowrap;
  margin-left: -97.5%;
  color: #e8c57a;
}



.badge-description h4 {
  color: #fff;
  text-align: center;
  font-size: 12px;
}

.cards :hover {
  cursor: pointer;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}
