<!--Check Availability SECTION-->
<app-header></app-header>
<div class="fullscreen-bg">
  <video loop muted autoplay class="fullscreen-bg__video">
    <source src="assets/img/VIDEO-TEASER.mp4" type="video/mp4"> >
  </video>
</div>
<div class="event-description">
  <p>Shalom {{'Brethren'}},</p>
  <p>We invite you to come and spend a four day retreat together with the prophet of the nation, Prophet Shepherd Bushiri (Major
    1).
  </p>

  <p>
    This retreat and getaway includes various activities with the Prophet in various luxurious touristic destinations of Dubai.
    <br> This will include galla dinners, touristic leisure , teachings and sharing, business presentation and networking.
  </p>

  <p>
    To partake in this and secure your seat, please Click the button bellow.
  </p>
  <p>
    Upon successful event booking, please find all your booking information and confirmation in your user profile link on the
    header.
  </p>

  <div class="cards">
    <a routerLink="/pages/international">
      <div class="badge-icon">
        <img src="assets/img/international-visitor.png" alt="">
      </div>
      <div class="badge-description">

        <h4>Click to Finalise Booking</h4>
      </div>
    </a>
  </div>

  <div class="paypal-payment-banner">
    <img src="assets/img/paypal.png" alt="">
  </div>

</div>

<!--END HOTEL ROOMS-->
<!--TOP SECTION-->


<div class="">
  <div>
    <!--TOP SECTION-->
    <div class="hom-footer-section">
      <div class="container">
        <div class="row">
          <div class="foot-com foot-1">
            <ul>
              <li>
                <a href="#">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-google-plus" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="foot-com foot-2">
            <h5>Phone: (+27) 872 384 444</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>





<!-- <div class="cards">
  <a routerLink="/pages/international">
    <div class="badge-icon">
      <img src="assets/img/international-visitor.png" alt="">
    </div>
    <div class="badge-description">

      <h4>INTERNATIONAL VISITORS PROGRAM</h4>
    </div>
  </a>
</div> -->