<!--Check Availability SECTION-->
<app-header></app-header>
<div>
  <div class="fullscreen-bg">
    <video width="60%" loop muted autoplay class="fullscreen-bg__video">
      <source src="assets/img/VIDEO-TEASER.mp4" type="video/mp4"> >
    </video>
  </div>
  <div class="event-description">
    <h1 class="greeting-header"> EXCLUSIVE LUXURY RETREAT WITH MAJOR 1</h1>
    <p>Shalom {{user_name}},</p>
    <p>We invite you to come and spend a four day life-changing, sight-seeing, activity packed experience with Major 1!
    </p>

    <p>
      This retreat and getaway includes various activities with the Major in luxurious touristic destinations of Dubai.
      <br>
      <br> You can look forward to revelatory teachings, leisure excursions, business workshops, networking, a gala dinner and
      much much more!
    </p>

    <p>
      To partake in this, secure your seat with an all inclusive fee of
      <br>
      <span style="color: #4CAF50;">
        <b>$5000</b>
      </span> (excluding flight ticket)
    </p>
    <p>
      Upon your successful booking,you will find all your user information and retreat confirmation secured in your user profile
      on the header above.
    </p>
    <div class="card-holder">
      <div class="cards">
        <a routerLink="/user/make-payment">
          <div class="badge-icon">
            <img src="assets/img/international-visitor.png" alt="">
          </div>
          <div class="badge-description">

            <h4>Click to Finalise Booking</h4>
          </div>
        </a>
      </div>
    </div>
    <div class="card-holder">
      <div class="paypal-payment-banner">
        <img src="assets/img/paypal.png" alt="">
      </div>
    </div>
  </div>

  <!--END HOTEL ROOMS-->
  <!--TOP SECTION-->


  <div class="">
    <div>
      <!--TOP SECTION-->
      <div class="hom-footer-section">
        <div class="container">
          <div class="row">
            <div class="foot-com foot-1">
              <ul>
                <li>
                  <a href="#">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="foot-com foot-2">
              <h5>Phone: (+971) 58 11 88 092</h5>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>





  <!-- <div class="cards">
  <a routerLink="/pages/international">
    <div class="badge-icon">
      <img src="assets/img/international-visitor.png" alt="">
    </div>
    <div class="badge-description">

      <h4>INTERNATIONAL VISITORS PROGRAM</h4>
    </div>
  </a>
</div> -->