<!--Check Availability SECTION-->
<app-header></app-header>
<div class="fullscreen-bg">
  <video loop muted autoplay class="fullscreen-bg__video">
    <source src="assets/img/VIDEO-TEASER.mp4" type="video/mp4"> >
  </video>

  <div class="cards">
    <a routerLink="/pages/international">
      <div class="badge-icon">
        <img src="assets/img/international-visitor.png" alt="">
      </div>
      <div class="badge-description">

        <h4>INTERNATIONAL VISITORS PROGRAM</h4>
      </div>
    </a>
  </div>


</div>

<!--END HOTEL ROOMS-->
<!--TOP SECTION-->


<div class="">
  <div>
    <!--TOP SECTION-->
    <div class="hom-footer-section">
      <div class="container">
        <div class="row">
          <div class="foot-com foot-1">
            <ul>
              <li>
                <a href="#">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-google-plus" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="foot-com foot-2">
            <h5>Phone: (+27) 872 384 444</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
