<div class="logo-main">
  <img src="assets/img/logo-copy.png" alt="">
</div>
<div class="logo-wording-forgot">
  <b>PROPHET SHEPHERD BUSHIRI MINISTRIES</b>
</div>

<div class="main-login-form">
  <form class="account_form" (submit)="resetPassword(email)">

    <span style="color:#fff;font-size: 16px; letter-spacing: 1px;">
      A verification mail will be sent into your email to reset your account.
    </span>
    <br>
    <br>
    <input type="text" [(ngModel)]="email" name="email" class="field-text" placeholder="Enter Your Email Address">
    <i class="fa fa-envelope fa-2x"></i>

    <span style="color: red;font-size: 12px;" *ngIf="errorMessage">
      {{errorMessage}}
    </span>

    <input type="submit" [disabled]="!email" value="Email me to reset my password">
    <div class="main-links">
      <a [routerLink]="['/auth/login']">Have you got an account? Click to Login</a>
    </div>


  </form>

</div>

<div class="main-login">


</div>