<div class="dashboard">
  <div class="db-left">
    <div class="db-left-1">
      <h4></h4>
      <p></p>
    </div>
    <div class="db-left-2">
      <ul>
        <li>
          <a routerLink="/user/dashboard">Dashboard</a>
        </li>
        <li>
          <a routerLink="/user/make-payment">Pay For Event</a>
        </li>
        <li>
          <a routerLink="/user/user-payments"> My Payments</a>
        </li>
        <li>
          <a routerLink="/user/user-events"> My Events</a>
        </li>
        <li>
          <a routerLink="/user/create-event"> Create Event</a>
        </li>
        <li>
          <a routerLink="/user/profile"> My Profile</a>
        </li>
        <li>
          <a class="logout-link" (click)="logout()"> Logout</a>
        </li>
      </ul>
    </div>
  </div>

  <router-outlet></router-outlet>


  <div class="db-righ">
    <h4>Notifications</h4>
    <ul>
      <li>
        <a href="#!">
          <h5></h5>
          <p></p>
          <span></span>
        </a>
      </li>
    </ul>
  </div>
</div>